<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

<link href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
    <!-- include navabar.html  -->
    {% include 'navbar.html' %}

      <!-- bread crumps  -->
      <div class="text-sm breadcrumbs px-6">
        <ul>
          <li><a>Home</a></li> 
          <li><a>Gallery</a></li>
        </ul>
      </div>

    </div>

        <!-- gallery  -->

       <!--include  footer  -->
    {%include 'footer.html' %}
</body>
</html>