<!DOCTYPE html>

<html>
    <head>
        <title>Index | Object Classification</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">

    </head>

    <body>
        <div class="nav">
            <div class="title">
                <p>Object Classification</p>
            </div>

            <div class="options">
                <a href="#" class="active" >Home</a>
                <a href="#">Gallery</a>
                <a href="{{ url_for('video') }}">video</a>
                <a href="#">Logs</a>
                <a href="{{ url_for('main') }}">Log out</a>
            </div>
        </div>

        <div class="main">
            <form action="#">
                <input type="file" name="img" id="img"> <br> <br>
                <input type="submit" value="classify">
            </form>

        </div>
    </body>

</html>